header {
    background: none repeat scroll 0 0 #ffe567;
    color: #ef780b;
    font-size: 20px;
    padding: 5px 20px;
    text-align: center;
    font-family: "Arial Black";
}

footer {
    background: none repeat scroll 0 0 #ffe567;
    color: #ef780b;
    font-size: 20px;
    padding: 5px 20px;
    margin: 20px 0;
    text-align: center;
    font-family: Arial;
}

body {
    margin: 0;
}

li {
    display: inline-block;
    float: left;
}

h2 {
    font-family: monospace;
    color: #606060;
}

i {
    margin-right: 10px;
}

nav {
    display: flex;
    width: 660px;
    margin: 0 auto 30px;
}

ul {
    overflow: hidden;
    display: flex;
    background: #FFD7A7;
    padding-left: 0;
    list-style: none;
}

a {
    padding: 1em;
    display: block;
    color: #9B4222;
    border-right: 1px solid #FFAB51;
    background: rgba(255, 171, 81, .3);
    text-decoration: none;
}

a:hover {
    background: #FFAB51
}
pre{
    margin: 0;
}